<body>
    <ul>
        <li><h1>Cogniludos Kft.</h1></li>
        <li><mat-icon>email</mat-icon> info@cogniludos.hu</li>
        <li><mat-icon>phone</mat-icon> + 36 30 358 8759</li>
        <li><mat-icon>location_on</mat-icon>  6725 Szeged, Tisza Lajos krt. 103.</li>
        <li><mat-icon>language</mat-icon> https://cogniludos.web.app/</li>
    </ul>
    <iframe src="https://maps.google.com/maps?q=szeged%2C%20tisza%20lajos%20k%C3%B6r%C3%BAt%20103&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
</body>