body {
    min-height: calc(100vh - 104px);
    height: fit-content;
    max-width: 100%;
    background-color: #101010;
    text-align: center;
    padding: 15px 0px; 
}

mat-tab-group {
    margin: 25px auto;
    width: 60vw;
    min-height: 80vh;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 32px;
}

button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(255, 193, 7);
    color: black;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    margin: auto;
    margin-top: 20px;
}

.chart {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 16px;
}

.controls {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.statsForm {
    width: 100%; 
    margin: auto;
}

.statsForm mat-form-field, .statsForm mat-checkbox {
    padding: 20px;
    width: 10vw;
}

.questionForm {
    display: flex;
    flex-direction: column;
}

.questionForm mat-form-field, .questionForm mat-checkbox {
    padding: 20px;
    width: 30vw;
    margin: auto;
}

table {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 32px;
}

th {
    color: black;
    font-weight: bold;
}

td {
    text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2;}

mat-paginator {
    background-color: #e6e6e6;
}

mat-divider{
    border-top-width: 3px;
    border-top-color: #101010;
}