<body>
    <div class="container">
        <h1>Rólunk</h1>
        <div>A Cogniludos oldal célja az emberek kognitív képességeinek fejlesztése játékosan. A különböző memória- és logikai játékok egyidősek az emberiséggel. Segítségükkel bárki egyszerűen, szórakozatóan javíthatja a saját kognitív képességet, legyen akár fiatal, akár felnőtt.</div>
        <div>Az oldalon megtalálható kognitív játékok tudományosan bizonyítottan megoldások, melyek az agy tréningelésére fókuszálnak.</div>
        <div><b>Szakdolgozat, 2022</b></div>
    </div>    
</body>
