body {
    min-height: calc(100vh - 104px);
    height: fit-content;
    max-width: 100%;
    background-color: #101010;
    text-align: center;
    padding: 15px 0px;  
}

mat-stepper {
    margin: 25px auto;
    width: 60vw;
    min-height: 80vh;
    background-color: #fffff5;
    border-radius: 32px;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: black;
}

::ng-deep .mat-step-header .mat-step-icon-state-done{
    background-color: black;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    border-radius: 16px;
}

ul {
    background-color: #101010;
    color: #e6e6e6;
    border-radius: 16px;
    padding: 10px;
}

li {
    display: inline;
    padding-right: 50px;
}

.container {
    background-color: #101010;
    color: #e6e6e6;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
    border-radius: 16px;
}

table {
    margin: 50px auto 100px auto;
}

.list {
    border: solid 1px #ccc;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
    min-width: 4.5vw;
    min-height: 4.5vw;
}

.box {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    cursor: move;
    background: white;
    font-size: 14px;
    text-align: center;
    line-height: 4.5vw;
    width: 4.5vw;
    height: 4.5vw;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag:not(.cdk-drag-preview) {
    transform: none !important;
}

.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
    border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.rules {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

.scores {
    width: 80%;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
}

tr:nth-child(even){background-color: #f2f2f2;}

.label {
    margin: 10px auto;
    text-align: center;
}