body {
    min-height: calc(100vh - 104px);
    height: fit-content;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #101010;
    color: #fffff5;
}

.container {
    display: grid;
    grid-template-columns: calc(20vw - 33px) calc(20vw - 34px) calc(20vw - 33px);
    gap: 50px;
    width: 60vw;
    margin: auto;
}

mat-card {
    background-color: #e6e6e6;
    border-radius: 16px;
}

.warning {
    text-align: center;
    font-size: 30px;
    margin: 50px;
    font-weight: bold;
}

button.mat-focus-indicator.asd.mat-button.mat-button-base {
    margin: 0px;
}